* {
    box-sizing: border-box;
    font-family: Preahvihear;
}

body{
    background-color: #11071F;
    color: white;
}

/*Use this*/

.navigation{
    background: #1A0B2E;
    box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.10);
    min-height: 113px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigationbar{
    display: flex;
    gap: 113px;
    margin-right:50px;
}

.navigation li{
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    list-style: none;
}
.sidebar{
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    margin-right: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background: #1A0B2E;
    z-index: 999;
    display: none;
}

.sidebar img{
    padding-left: 125px;
}

.sidebar li{
    width: 100%;
}
.navigation li a{
    text-decoration: none;
    color: white;
}
/*------------------*/

.mainsection{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

img {
    float:left;
    width: 316;
    height: 249;
}

.mainsection h3{
    text-align: center;

}


.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 35px;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (max-width: 721px){
    .navigation ul{
        display: none;
    }

    .hamburger{
        display: block;
    }
}