*{
    font-family: Preahvihear;
}

body{
    background-color: #11071F;
    color: white;
}

.navigation{
    background: #1A0B2E;
    box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.10);
    min-height: 113px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation ul{
    display: flex;
    gap: 113px;
    margin-right:50px;
}

.navigation li{
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    color: white;
}

.mesection{
    
    align-items: center;
    display: flex;
    justify-content: center;
}

.meheader{
    padding-top: 57px;
}

.iconlinks{
    display: flex;
    justify-content: flex-end;
    gap:13px;
}

.iconlinks img{
    height: 88px;
}

.footersection{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
}